<nav class="navbar navbar-default navbar-static-top">
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/favorites">Favoritas</a>
        </li>
        <li>
            <a href="/news">Estrenos</a>
        </li>
    </ul>
</nav>